# Damus python gitignore

.VSCodeCounter/
__pycache__/
test**.*
temp.*
stats.prof
.ruff_cache/
*.exe
data/*
!data/icons
!data/ytfont.ttf

build/
dist/
lib/
wheels/
*.egg-info/
*.egg
*.spec

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
