[Desktop Entry]
Name=Music Player
Comment=A rich music player application.
Exec=python3 MusicPlayer.py
Icon=data/icons/playlist.png
Terminal=false
Type=Application
Categories=Audio;Music;Player;
Version=1.0
StartupNotify=true
X-Desktop-File-Install-Version=1.0
X-Author=damusss